
.row {
  content: "";
  display: table;
  clear: both;
  columns: auto;
}

.column {
  float:left;
  height:300px;
}

.one {
  width: 33%;
}

.two {
  width: 33%;
}

.three {
  width: 33%;
}

body {
  background-color: bisque;
}

.pic {
max-width: 85%;
height: auto;
}
