
.row {
  content: "";
  display: table;
  clear: both;
  columns: auto;
}

.column {
  float:left;
  height:300px;
}

.one {
  width: 33%;
}

.two {
  width: 33%;
}

.three {
  width: 33%;
}

body {
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  color: red;
}

.dark-background {
  background-color: blue;
  color: white;
}

.light-background {
  background-color: white;
  color: blue;
}

.pic {
max-width: 85%;
height: auto;
}

.row .pic {
  border-radius: 50%;
}

.important-headers {
  text-align: center;
  color: green;
}

.important-headers h2 {
  color: orange;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: whitesmoke;
    color: blueviolet;
  }
  .important-headers {
    color: aqua;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  body {
    background-color: blanchedalmond;
    color: rgb(57, 160, 57);
  }
  .important-headers {
    color: #8EE68E;
  }
}